# ------------------------------------
# Python / Django
# ------------------------------------
__pycache__/
*.pyc
*.pyo
db.sqlite3

# Virtual Environment
venv/
env/

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
local_settings.py

# IDE / OS
.DS_Store
.vscode/
.idea/
*.swp

# Test coverage
.coverage
htmlcov/
coverage/
.pytest_cache/

# Test results
.tox/
.coverage.*
coverage.xml
*.cover